@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards{
    width: 1180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
}

.card{
    width: 372px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card>h3{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0;
    vertical-align: middle;
}
.card>p{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 120%;
    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
    color: #3C3C43;
}