@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #1E1E1E;
    font-family: 'Bowlby One', sans-serif;
}
.wrapper{
    display: flex;
    flex-direction: column;
    width: 1340px;
    margin: 0 auto;
}
nav{
    padding-top: 36px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 59px;
}
ul a{
    color: #E9E3DC;
    font-size: 18px;
    font-weight: 400;
    font-size: 18px;
    line-height: 97%;
    letter-spacing: 0%;
    text-transform: uppercase;
    text-decoration: none;
}
.header-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 203px;
    height: 60px;
    background-color: #B3A0CD;
    color: #1E1E1E;
}
.header-title{
    font-weight: 400;
    font-size: 107.09px;
    line-height: 89%;
    letter-spacing: -2%;
    text-align: center;
    text-transform: uppercase;
    color: #E9E3DC;
    margin: 74px 0 33px 0;
    width: 1255px;
}
.header-img{
    display: block;

}
.about-burger{
    width: 1340px;
    height: 369px;
    border-radius: 30px;
    border: 4px solid #1E1E1E;
    background-color: #D1EF53;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
}
.about-burger h2{
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    line-height: 89%;
    letter-spacing: -2%;
    text-transform: uppercase;
    width: 533px;
    color: #1E1E1E;
}
.about-burger p{
    width: 521px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -2%;
    color: #1E1E1E;
    margin-bottom: 34px;
}
.about-burger button{
   width: 176px;
    height: 60px;
    border: 4px solid #1E1E1E;
    font-family: 'Bowlby One';
    font-weight: 400;
    font-size: 18px;
    line-height: 97%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    background: #E9E3DC;
    box-shadow: 8px 8px 0px 0px #000;

}
.img-burgers{
    width: 100%;
    margin-top: 64px;
    margin-bottom: 64px;
    display: flex;
    justify-content: space-between;
}
.second-title{
    margin: 64px auto 33px auto;
    width: 895px;
    font-family: Bowlby One;
    font-weight: 400;
    font-size: 70px;
    line-height: 102%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color: #E9E3DC;
}
.started{
    width: 196px;
    height: 60px;
    background: #D1EF53;
    font-family: Bowlby One;
    font-weight: 400;
    font-size: 18px;
    line-height: 97%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color: #1E1E1E;
    margin: 0 auto 33px auto;
}
